# Use a base Node.js image
FROM node:18

# Set the working directory inside the container
WORKDIR /app

# Copy backend files and install dependencies
COPY backend backend
WORKDIR /app/backend
RUN npm install

# Expose the backend port
EXPOSE 8080

# Start the backend
CMD ["npm", "start"]
